body
{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/bg.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

.nav
{
    margin: 15px;
}


.nav-pills .nav-link
{
    color: white;
    border-radius: 30px;
}

.nav-pills .nav-link.active
{
    background-color: rgba(0,123,255,0.5);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link 
{
    background-color: rgba(0,123,255,0.5);
}

.nav-pills:hover .nav-link:hover
{
    color: rgb(212, 212, 212);
}

.home-container-fluid
{
    padding: 0px;
}

.nav-item
{
    margin: 2px;
}

.jumbotron
{
    background-color: rgba(0,123,255,0.5);
    height: auto;
    color: white;
    margin-bottom: 60px;
}

.faq img
{
   margin-bottom: 20px; 
}

.page-footer
{
    color: white;
}

.carousel
{
    width: auto;
    height: 500px;
    margin-bottom: 20px;
}

.my-internship
{
    text-align: center;
}
